[Unit]
Description=LinuxLab Backend
After=libvirtd.service network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/linuxlab/backend
ExecStart=/home/ubuntu/linuxlab/backend/venv/bin/uvicorn app.main:app --host 127.0.0.1 --port 8000
Restart=always
RestartSec=5
Environment=PYTHONPATH=/home/ubuntu/linuxlab/backend
EnvironmentFile=/home/ubuntu/linuxlab/.env

[Install]
WantedBy=multi-user.target
